<div class="row">
  <div class="col-md-3 col-12 mb-2 mb-md-0">
    <app-general-details [amountYetToPay]="amountYetToPay" [amountPaid]="amountPaid"></app-general-details>
  </div>
  <div class="col-md-9 col-12">
    <div
      class="mb-2 p-3 d-flex flex-md-row flex-column bg-warning bg-opacity-75 rounded-2"
      [class.mat-elevation-z2]="true"
    >
      <div class="col-12 col-md-9">
        <p class="fs-3 fw-bold">Total Groups : {{ groups.length }}</p>
        <p class="fs-3 fw-bold mb-0">Total Trip Cost : {{ totalTripCost | currency : 'INR' }}</p>
      </div>
      <div class="col-12 col-md-3 d-flex justify-content-end mt-3 mt-md-0">
        <button
          class="align-self-center d-sm-block form-control"
          mat-raised-button
          aria-label="Add New Group"
          type="button"
          color="primary"
          (click)="onAddNewGroup()"
        >
          Add New Group
        </button>
      </div>
    </div>
    <div class="col-12 g-2">
      <mat-accordion class="col-sm-12 mb-2" *ngFor="let group of groups">
        <app-group [group]="group"></app-group>
      </mat-accordion>
    </div>
  </div>
</div>
