// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

/* For use in src/lib/core/theming/_palette.scss */
$md-primary: (
  50: #e1e7e8,
  100: #b3c2c5,
  200: #819a9f,
  300: #4e7179,
  400: #28525c,
  500: #02343f,
  600: #022f39,
  700: #012731,
  800: #012129,
  900: #01151b,
  A100: #59c8ff,
  A200: #26b7ff,
  A400: #00a1f2,
  A700: #0090d9,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$md-accent: (
  50: #fdfdf9,
  100: #fbfaf0,
  200: #f8f6e6,
  300: #f5f2db,
  400: #f2f0d4,
  500: #f0edcc,
  600: #eeebc7,
  700: #ece8c0,
  800: #e9e5b9,
  900: #e5e0ad,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffffff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$bill-split-primary: mat.define-palette($md-primary);
$bill-split-accent: mat.define-palette($md-accent);

// The warn palette is optional (defaults to red).
$bill-split-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$bill-split-theme: mat.define-light-theme(
  (
    color: (
      primary: $bill-split-primary,
      accent: $bill-split-accent,
      warn: $bill-split-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($bill-split-theme);

/* You can add global styles to this file, and also import other style files */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  font-size: 62.5%;
  height: 100%;
}

body {
  box-sizing: border-box;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding: 1.5rem;
  background: mat.get-color-from-palette(
    $bill-split-primary,
    "darker"
  ) !important;
  color: mat.get-color-from-palette(
    $bill-split-primary,
    "darker-contrast"
  ) !important;
}

mat-card {
  background: mat.get-color-from-palette(
    $bill-split-accent,
    "darker"
  ) !important;
}

mat-toolbar {
  background: mat.get-color-from-palette(
    $bill-split-accent,
    "darker"
  ) !important;
}

mat-dialog-container {
  background: mat.get-color-from-palette(
    $bill-split-accent,
    "darker"
  ) !important;
}

mat-expansion-panel {
  background: mat.get-color-from-palette(
    $bill-split-accent,
    "darker"
  ) !important;
}
